extends layout/master

block baslik
	| Framework Example

block body
	.container
		//- SAVE DATE
		.row
			.col-xs-12
				-saveDate()
		//- SCROLL GO TO
		.row
			.col-xs-12.mb-30.pt-30
				h2 SCROLLGOTO FUNCTION EXAMPLE
				p.mb-15
					+lorem([18, 30])
				button(onclick="$.scrollgoto('table.responsive', 100, 500)") TABLE RESPONSİVE
				button(onclick="$.scrollgoto('table.responsive', 100, 5000, 1000)") TABLE RESPONSİVE SLOW
		//- RADIO BUTTON AND CHECKBOX
		.row
			.col-xs-12.mb-30.pt-30
				h2 FORM CHECKBOX - RADIO
				p.mb-30
					+lorem([18,30])
				h3.mb-15 İCON
				.row.mb-30
					.col-xs-12.col-md-4
						label.check-icon
							input(type="checkbox")
							i.fa.fa-check-square
							| İcon ile checkbox
					.col-xs-12.col-md-4
						label.check-icon
							input(type="radio" name="radio")
							i.fa.fa-check-square
							| İcon ile radio
					.col-xs-12.col-md-4
						label.check-icon
							input(type="radio" name="radio")
							i.fa.fa-check-square
							| İcon ile radio
				h3.mb-15 LABEL:AFTER-BEFORE
				.row.mb-30
					.col-xs-12.col-md-4
						input.check(type="checkbox" id="check-test-1")
						label(for="check-test-1") After Before ile checkbox
					.col-xs-12.col-md-4
						input.check(type="radio" id="check-test-2" name="radio2")
						label(for="check-test-2") After Before ile radio
					.col-xs-12.col-md-4
						input.check(type="radio" id="check-test-3" name="radio2")
						label(for="check-test-3") After Before ile radio
		//- AFTER BEFORE CONTENT
		.row
			.col-xs-12
				h2.title(data-before=" < " data-after=" > ") TİTLE
		//- RESPONSIVE TABLE
		.row
			.col-xs-12.mb-30.pt-30
				h2 TABLE-RESPONSIVE
				p
					+lorem([18,30])
				.table-responsive
					table
						thead
							tr
								th Name
								th Item Name
								th Item Price
								th Item Sucsess
								th Item Mantyi
						tbody
							-for(var i = 0; i < 7; i++){
								tr
									td
										+lorem([2,4])
									td
										+lorem([2,4])
									td
										+lorem([2,4])
									td
										+lorem([2,4])
									td
										+lorem([2,4])
							-}
			.col-xs-12.mb-30
				h2 TABLE.RESPONSIVE
				p
					+lorem([18,30])
				table.responsive
					thead
						tr
							th Name
							th Item Name
							th Item Price
							th Item Sucsess
							th Item Mantyi
					tbody
						-for(var i = 0; i < 7; i++){
							tr
								td
									+lorem([2,4])
								td
									+lorem([2,4])
								td
									+lorem([2,4])
								td
									+lorem([2,4])
								td
									+lorem([2,4])
						-}
			.col-xs-12.mb-30
				h2 TABLE.BLOCKED-RESPONSIVE
				p
					+lorem([18,30])
				table.blocked-responsive
					thead
						tr
							th Name
							th Item Name
							th Item Price
							th Item Sucsess
							th Item Mantyi
					tbody
						-for(var i = 0; i < 7; i++){
							tr
								td(data-th="Name")
									+lorem([2,4])
								td(data-th="Item Name")
									+lorem([2,4])
								td(data-th="Item Price")
									+lorem([2,4])
								td(data-th="Item Sucsess")
									+lorem([2,4])
								td(data-th="Item Mantyi")
									+lorem([2,4])
						-}
		//- TAB SYSTEM
		.row
			.col-xs-12.mb-30
				h2 TAB EXAMPLE 1
				.tab-menu(data-tab-target="main-tab")
					.t-menu(data-target="tab1").active Tab Menü 1
					.t-menu(data-target="tab2") Tab Menü 2
				.tab-content(id="main-tab")
					.t-content(id="tab1").active Tab İçerik 1
					.t-content(id="tab2") Tab İçerik 2
			.col-xs-12.mb-30
				h2 TAB EXAMPLE 2 (a href)
				.tab-menu(data-tab-target="main-tab-2")
					a(href="#a-tab1" data-target="a-tab1").t-menu.active Tab Menü 1
					a(href="#a-tab2" data-target="a-tab2").t-menu Tab Menü 2
				.tab-content(id="main-tab-2")
					.t-content(id="a-tab1").active Tab İçerik 1
					.t-content(id="a-tab2") Tab İçerik 2