// FRAMEWORK CLASS _framework-class.scss
// CLASS
// ---------------------------------------------------------------------------------------------------------------------

.clear:after,
li:after,
ol:after,
ul:after {
  content: "";
  display: table;
  clear: both;
}

.mask {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 9990;
  width: 110%;
  height: 120%;
  top: 0;
  left: 0;
  right: 0;
}

.short {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-scroll {
  height: 100vh;
  overflow: hidden;
}

.img-responsiveX {
  max-width: inherit;
  width: 100%;
}

// BOX WIDTH FULL EQUALIZE
// ---------------------------------------------------------------------------------------------------------------------

.wf-equalize {
  & > * {
    display: table-cell;
    width: 1%;
  }
}

// BOX HEIGHT EQUALIZE
// ---------------------------------------------------------------------------------------------------------------------

.h-equalize {
  @include display-flex();
  @include justify-content(space-between);
  @include flex-wrap(wrap);
}

// BOX VERTICAL STATUS
// ---------------------------------------------------------------------------------------------------------------------

.v-bottom,
.v-middle,
.v-top {
  font-size: 0;

  & > * {
    display: inline-block;
    float: none;
  }
}

.v-middle > * {
  vertical-align: middle;
}

.v-top > * {
  vertical-align: top;
}

.v-bottom > * {
  vertical-align: bottom;
}

// POSITION STATUS
// ---------------------------------------------------------------------------------------------------------------------

.position-fixed {
  position: fixed !important;
}

.position-absolute {
  position: absolute !important;
}

.position-relative {
  position: relative !important;
}

.position-static {
  position: static !important;
}

// HOVER STATUS
// ---------------------------------------------------------------------------------------------------------------------

.hvrL {
  @include transition();
  @include box-shadow(inset 0 0 0 500px rgba(255, 255, 255, 0));

  &:hover {
    @include box-shadow(inset 0 0 0 500px rgba(255, 255, 255, 0.15));
  }
}

.hvrD {
  @include transition();
  @include box-shadow(inset 0 0 0 500px rgba(0, 0, 0, 0));

  &:hover {
    @include box-shadow(inset 0 0 0 500px rgba(0, 0, 0, 0.15));
  }
}

.hvrO {
  @include transition();

  &:hover {
    @include opacity(0.8);
  }
}

// DATA BEFORE - AFTER
// ---------------------------------------------------------------------------------------------------------------------

*[data-before] {
  &:before {
    content: attr(data-before);
  }
}

*[data-after] {
  &:after {
    content: attr(data-after);
  }
}

// TAB SYSTEM
// ---------------------------------------------------------------------------------------------------------------------

.tab-menu {
  .t-menu {
  }
}

.tab-content {
  .t-content {
    display: none;

    &.active {
      display: block;
    }
  }
}

// MARGIN-PADDING STATUS
// ---------------------------------------------------------------------------------------------------------------------
@for $i from 1 through 20 {
  $value: 5 * $i;
  //MARGIN
  &.mt-#{$value} {
    margin-top: $value+px;
  }

  &.mr-#{$value} {
    margin-right: $value+px;
  }

  &.mb-#{$value} {
    margin-bottom: $value+px;
  }

  &.ml-#{$value} {
    margin-left: $value+px;
  }
  //PADDING
  &.pt-#{$value} {
    padding-top: $value+px;
  }

  &.pr-#{$value} {
    padding-right: $value+px;
  }

  &.pb-#{$value} {
    padding-bottom: $value+px;
  }

  &.pl-#{$value} {
    padding-left: $value+px;
  }
}

// FORM ELEMENTS
// ---------------------------------------------------------------------------------------------------------------------

button,
input:not([type="checkbox"]):not([type="radio"]),
select,
textarea {
  border: solid 1px rgba(0, 0, 0, 0.1);
  height: 40px;
  padding: 0 15px;
  //width: 120px;
}

textarea {
  padding: 10px 15px;
  height: 80px;

  &.no-size {
    resize: none;
  }
}

button,
input[type="submit"] {
  text-align: center;
}

label.check-icon {
  input {
    display: none;

    & ~ i {
      color: $textLL;
      font-size: 23px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
    }

    &:checked {
      & ~ i {
        color: $colorB;
      }
    }
  }
}

input.check {
  display: none;

  &[type="checkbox"] {
    & + label {
      position: relative;
      display: inline-block;
      height: 20px;
      padding-left: 25px;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        background-color: #fff;
        @include box-shadow(inset 0 0 0 1px $textLL);
        @include border-radius(2px);
      }
    }

    &:checked + label {
      &:before {
        background-color: $colorB;
        @include box-shadow(inset 0 0 0 1px $colorB);
      }

      &:after {
        content: "";
        width: 11px;
        height: 6px;
        display: block;
        position: absolute;
        border-bottom: solid 1px #fff;
        border-left: solid 1px #fff;
        left: 4px;
        top: 4px;
        @include transform(rotate(-45deg));
      }
    }
  }

  &[type="radio"] {
    & + label {
      position: relative;
      display: inline-block;
      height: 20px;
      padding-left: 25px;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        background-color: #fff;
        @include box-shadow(inset 0 0 0 1px $textLL);
        @include border-radius(50%);
      }
    }

    &:checked + label {
      &:before {
        background-color: $colorB;
        @include box-shadow(inset 0 0 0 1px $colorB);
      }

      &:after {
        content: "";
        position: absolute;
        top: 3px;
        left: 3px;
        width: 12px;
        height: 12px;
        @include border-radius(50%);
        @include box-shadow(inset 0 0 0 2px #fff);
      }
    }
  }
}

// TABLET 2 DEVICES
// ---------------------------------------------------------------------------------------------------------------------
@media (max-width: $devices-sm) {
  table.responsive {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;

    thead {
      border: 0;
      float: left;
      border-right: 1px solid #d0d0d0;

      tr {
        display: block;
        padding: 0 10px 0 0;

        th {
          display: block;
          text-align: right;
        }
      }
    }

    tbody {
      display: block;
      width: auto;
      position: relative;
      overflow-x: auto;
      white-space: nowrap;

      tr {
        display: inline-block;
        vertical-align: top;

        td {
          display: block;
          min-height: 1.25em;
          text-align: left;
        }
      }
    }
  }

  table.blocked-responsive {
    thead {
      display: none;
    }

    tbody {
      font-size: 0;
      text-align: center;

      tr {
        font-size: 16px;
        display: inline-block;
        border: solid 1px #e0e0e0;
        margin: 15px;
        min-width: 250px;

        td {
          display: block;
          text-align: center;
          border-bottom: solid 1px #eee;

          &:last-child {
            border: none;
          }

          &:before {
            content: attr(data-th);
            display: block;
            font-weight: bold;
          }
        }
      }
    }
  }
}

// TOOLTIP.CSS
// ---------------------------------------------------------------------------------------------------------------------

*[data-tooltip] {
  position: relative;

  &:hover {
    &:after,
    &:before {
      visibility: visible;
      @include opacity(1);
    }

    &:before {
      @include transition(all 300ms 200ms cubic-bezier(0.25, 0, 0.15, 1.50));
    }
  }

  &:before {
    visibility: hidden;
    @include opacity(0);
    @include transition(all 300ms 0 cubic-bezier(0.25, 0, 0.15, 1.50));
  }

  &:after {
    visibility: hidden;
    content: attr(data-tooltip);
    line-height: inherit;
    position: absolute;
    z-index: 99;
    padding: 5px 10px;
    background: #333;
    color: #fff;
    font-weight: normal;
    font-size: 12px;
    width: 250%;
    max-width: 200px;
    @include opacity(0);
    @include border-radius();
    @include transition(all 300ms 100ms cubic-bezier(0.25, 0, 0.15, 1.50));
  }
}

*[data-tooltip-mask] {
  z-index: 999;
  @include box-shadow(inset 0 0 0 500px rgba($text, 0), 0 0 0 5000px rgba($text, 0));
  @include transition(all 500ms 100ms);

  &:hover {
    @include box-shadow(inset 0 0 0 500px rgba($colorB, 0.70), 0 0 0 5000px rgba($colorB, 0.70));
  }
}

*[data-tooltip-bottom]:before,
*[data-tooltip]:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12.5px 15px 12.5px;
  border-color: transparent transparent $text transparent;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -25px;
}

*[data-tooltip-bottom]:hover:before,
*[data-tooltip]:hover:before {
  bottom: -15px;
}

*[data-tooltip-bottom]:after,
*[data-tooltip]:after {
  left: 50%;
  bottom: -10px;
  @include transform(translate(-50%, 100%) scale(.8));
}

*[data-tooltip-bottom]:hover:after,
*[data-tooltip]:hover:after {
  @include transform(translate(-50%, 100%) scale(1));
}

*[data-tooltip-top]:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 12.5px 0 12.5px;
  border-color: $text transparent transparent transparent;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: inherit;
  top: -25px;
}

*[data-tooltip-top]:hover {
  &:before {
    bottom: inherit;
    top: -15px;
  }

  &:after {
    @include transform(translate(-50%, -100%) scale(1));
  }
}

*[data-tooltip-top]:after {
  left: 50%;
  top: -10px;
  bottom: inherit;
  @include transform(translate(-50%, -100%) scale(.8));
}

*[data-tooltip-left]:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12.5px 0 12.5px 15px;
  border-color: transparent transparent transparent $text;
  position: absolute;
  margin: auto;
  bottom: 0;
  top: 0;
  right: inherit;
  left: -25px;
}

*[data-tooltip-left]:hover {
  &:before {
    bottom: 0;
    top: 0;
    right: inherit;
    left: -15px;
  }

  &:after {
    @include transform(translate(-100%, -50%) scale(1));
  }
}

*[data-tooltip-left]:after {
  left: -10px;
  top: 50%;
  bottom: inherit;
  @include transform(translate(-100%, -50%) scale(.8));
}

*[data-tooltip-right]:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 12.5px 15px 12.5px 0;
  border-color: transparent $text transparent transparent;
  position: absolute;
  margin: auto;
  bottom: 0;
  top: 0;
  left: inherit;
  right: -25px;
}

*[data-tooltip-right]:hover {
  &:before {
    bottom: 0;
    top: 0;
    left: inherit;
    right: -15px;
  }

  &:after {
    @include transform(translate(100%, -50%) scale(1));
  }
}

*[data-tooltip-right]:after {
  right: -10px;
  top: 50%;
  left: inherit;
  bottom: inherit;
  @include transform(translate(100%, -50%) scale(.8));
}
